<ng-container *ngIf="isLoading">
    <img src="assets/loading.gif" alt="Chargemet en cours">
</ng-container>
<ng-container  *ngIf="!isLoading" class="text-center">
    <h1>Details de l'ordinateur n°{{computer.id}}</h1>
    <div class="row">
        <div class="offset-sm-1 col-sm-8">
            <div class="card border-primary mb-3 wauto" >
                <div class="card-header bg-primary border-success">
                    Les Details
                </div>
                <div class="card-body text-info">
                    <h2 class="card-title"> Modele : {{computer.modele}}</h2>
                    <div class="card-text">
                        <label>Marque : {{computer.marque}} <br>
                            <label>Type : {{computer.type}}</label><br>
                            <label>Catégorie : {{computer.category}}</label><br>
                            <label>Prix d'achat : {{computer.prixAchat}}</label><br>
                            <label>Prix de vente : {{computer.prixVente}}</label><br>
                            <label>Rentabilité {{computer.prixVente - computer.prixAchat}}</label><br>
                            <label>Date d'enregistrement : {{computer.dateEntreeStock | date :"dd/MM/yyyy"}}</label>
                        </label>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <a [routerLink]="['/edit',computer.id]" class="btn btn-primary">Modifier</a>
                    <button class="btn btn-danger ml-2 " (click)="retirerComputer(computer)">
                        Supprimer
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>