<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  routerLink = "/dashboard">
        <img src="assets/rastami.png" width="50" height="60" class="d-inline-block align-top ml-2"
            alt="photo rastami"> 
    </a>
    <a class="navbar-brand" routerLink = "/dashboard">Ahmed Houmadi Rastami</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item btn btn-primary mx-3" routerLink="/dashboard">Acceuil</a>
            <a id="addComputer" class="nav-item mx-3 btn btn-success" routerLink="/add">Ajouter un ordinateur</a>
        </div>
    </div>
</nav>